body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    height: 300px;
    width: 300px;
}

.description{
    width: 300px;  
}

.description h2{
    margin-bottom: 15px;
}

.music-duration{
    width: 300px;
    margin-top: 25px;
}

.duration-bar{
    width: 300px;
    height: 6px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.music-duration progress{
    height: 6px;
    width: 0%;
}

.dot{
     width: 20px;
     height: 20px;
     background-color: #eeeeee;
     border-radius: 50%;
     margin-left: -2px;
}

.music-time{
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.player{
    width: 300px;
    display: flex;
    justify-content: space-around;
}

#previus-icon, #start-icon, #pause-icon, #next-icon{
    cursor: pointer;
}

#pause-icon{
    display: none;
}